<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.google.android.apps.bard" />
        <intent><action android:name="android.intent.action.SEND"/><data android:mimeType="text/plain"/></intent>
    </queries>
    <application android:label="Perintah Gemini" android:icon="@drawable/ic_app" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <activity android:name=".CommandActivity" android:exported="false" android:excludeFromRecents="true"/>
        <receiver android:name=".CommandWidget" android:exported="false">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/command_widget"/>
        </receiver>
    </application>
</manifest>
